{
    "project": "myProject",
    "source":{
        "hub":"local",   // s3 || cdn || custom
        "path":"patabsolute/space/modules/elysize/media",
        "auth":"false",
        "domain": ""
    },
    "type":{
        "rule" : "regex",  // regex:string | custom:array
        "value": "/\/media\/catalog\/(?<entity>[a-z]+)\/cache\/\w+\/(?<image>[a-z]+)?\/?(?<width>\d+)x(?<heigh>\w*)(?<path>\/.+)/gm"   
    }
}